.avatar-flair-silenced {
  position: absolute;
  border-radius: 100%;
  text-align: center;
  background: var(--danger);
  color: var(--primary-low);

  .desktop-view .not-mobile-device .topic-avatar & {
    width: 24px;
    height: 24px;
    top: 35px;
    right: 40px;
    font-size: var(--font-up-1);
  }

  .desktop-view .not-mobile-device .user-card-avatar & {
    width: 40px;
    height: 40px;
    top: -15px;
    right: -5px;
    font-size: var(--font-up-4);
  }

  .desktop-view .not-mobile-device .user-main .collapsed-info .user-profile-avatar & {
    display: none;
  }

  .desktop-view .not-mobile-device .user-main .user-profile-avatar & {
    width: 40px;
    height: 40px;
    top: -10px;
    right: 15px;
    font-size: var(--font-up-5);
  }
}
